@use "../global/global" as g;

.area {
    position: relative;
    width: 100%;
    height: 100vh;

    &__text {
        position: absolute;
        bottom: g.get_vw(100);
        right: g.get_vw(50);
        font-size: g.get_vw(110);
        font-family: g.$font-all;
        color: g.$color-black;
        @include g.mq(mobile) {
            bottom: g.get_vw(120);
            right: g.get_vw(50);
            font-size: g.get_vw(120);
        }
    }
    &__link {
        position: absolute;
        bottom: g.get_vw(40);
        right: g.get_vw(50);
        font-size: g.get_vw(30);
        font-family: g.$font-all;
        color: g.$color-black;
        text-decoration: none;
        @include g.mq(mobile) {
            bottom: g.get_vw(50);
            right: g.get_vw(50);
            font-size: g.get_vw(40);
        }
        &::after {
            content: attr(data-hover);
            position: absolute;
            left: 0;
            bottom: 0;
            transform: rotateX(90deg);
            transition: g.$easeCustom1 0.3s;
            opacity: 0;
            color: g.$color-blue;
            height: 0;
        }
        &:hover {
            color: transparent;

            &::after {
                transform: rotateX(0deg);
                top: 0;
                opacity: 1;
                height: 100%;
            }
        }
        &:visited {
            text-decoration: none;
        }
    }
}
