@use "../global/global" as g;

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-size: 1.6em;
    width: 100%;
}

.sp-only {
    display: none;
    @include g.mq(mobile) {
        display: block;
    }
}

@include g.mq(mobile) {
    .pc-only {
        display: none;
    }
}
